/* ---- STYLE GLOBAL ---- */

body {
    background: #0d0f1a;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 40px 0;
}

/* ---- TITRE ---- */

.titre-joueurs {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: white;
}

/* ---- BLOC JOUEUR ---- */

.joueur {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 65%;
    margin: 0 auto 50px auto;
}

/* ---- IMAGE JOUEUR ---- */

.joueur img {
    width: 150px;
    border-radius: 10px;
    background: none;
    padding: 0;
}

/* ---- TEXTE JOUEUR ---- */

.texte-joueur h2 {
    margin: 0 0 5px 0;
    font-size: 26px;
    font-weight: bold;
}

.texte-joueur p {
    margin: 0;
    color: #cfcfcf;
    line-height: 1.5;
}
