/* PAGE JOUEURS */
.joueurs-page {
    background: #0d0f1a;
    color: white;
    padding: 40px;
    font-family: Arial;
}

.titre-page {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #f39c12;
}

.joueurs-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.player-card {
    background: #141622;
    padding: 20px;
    width: 280px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #00000050;
    transition: transform 0.2s;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-card img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.player-card h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #f1c40f;
}
